1. In the below elements which of them are values or an expression? eg:- values can be integer or string and expressions will be mathematical operators.
*       :- is mathematical operator for multiplication
'hello' :- is a string.
-87.8   :- is a negative float number/value
-       :- is mathematical operator
/       :- is mathematical operator
+	    :- is mathematical operator
6       :- is an integer value

In [3]:
# * operator is used for multiplication
3*3

9

In [68]:
# 'hello' is a string value 
first_string="hello"
type(first_string)

str

In [6]:
#-87.8 is a float value/number
c=-87.8
type(c)

float

In [8]:
# - is a mathematical operator used for subtraction
40-3

37

In [9]:
# / is a mathematical operator used for devision 
50/5

10.0

In [10]:
# + is a mathematical operator used for summation as well as Concatenation of strings
5+5

10

In [13]:
"my " + "name " + "is " + "neema"

'my name is neema'

In [14]:
#6 is an integer value
6
type(6)

int

2. What is the difference between string and variable?
Answer:- 
Interger is a numeric value, e.g. 100, 20 etc. 
String is character value which can be represented with quotes, e.g. "my name is neema"

In [1]:
a=100
type(a)

int

In [2]:
b="my name is neema"
type(b)

str

3. Describe three different data types.
    1. Numeric data type represent the data which has numeric value. 
       There are three sub types of numneric, i.e. Integer, complex number, float.
       Examples of integer are      :- 34,45
       Examples of Complex number   :- 5+6J , 33+54j
       Examples of float number     :- 45.89, 23.645
    2. Boolean values are reprented by False and True
    3. Sequence  sequence is the ordered collection of similar or different data types. 
       Sequences allows to store multiple  values in an organized and efficient fashion. 
       There are several sequence types in Python –

            1.String 
            2.List
            3.Tuple

In [16]:
#Example of integer is as follows.
6
type(34)

int

In [17]:
#Example of complex number is as follows.
5+6j
type(5+6j)

complex

In [18]:
#Example of float number is as follows.
45.89
type(45.89)

float

In [22]:
#Example of float number is as follows.
-456.89
type(-456.89)

float

In [19]:
#Example of Boolean is as follows.
d=True
type(d)

bool

In [20]:
#Example of Boolean is as follows.
e= False
type(e)

bool

In [67]:
#Example of string is as follows.
string1="my name is neema"
type(string1)

str

In [25]:
# A list is a data structure in Python that is a mutable, or changeable, ordered sequence of elements.
# Each element or value that is inside of a list is called an item. 
# Just as strings are defined as characters between quotes, lists are defined by having values between square brackets [ ]
# Example of list is as follows. 
l=[2,3,4,5,6]
type(l)

list

In [26]:
# Example of tuple is as follows.Tuple is a collection of values separated by comma and enclosed in parenthesis. 
# Unlike lists, tuples are immutable. The immutability can be considered as the identifying feature of tuples.
tpl= (3,5)
type(tpl)

tuple

4. What is an expression made up of? What do all expressions do?
Answer:-
Expressions are representations of value.
For example any string is also an expressions since it represents the value of the string as well. Python has some advanced constructs through which you can represent values and hence these constructs are also called expressions.

A simple example of an expression is 2 + 3 . An expression can be broken down into operators and operands. Operators are functionality that do something and can be represented by symbols such as + or by special keywords. 
In this case, 2 and 3 are the operands.

In [34]:
#Example of expression 
"I " + "am " + "happy " + "to " + "do " +  "this " + "assignment."

'I am happy to do this assignment.'

In [35]:
#Example of expression
2+3

5

5. This assignment statements, like spam = 10. What is the difference between an expression and a statement? 
Answer:-
Expression Vs Statement
    Expression
    Expressions always returns a value
    Functions are also expressions. Even a non returning function will still return
    Functions are also expressions. Even a non returning function will still return value, so it is an expression.
    Can print the result value
    Examples Of Python Expressions: 
    “Hello” + “World”, 4 + 5 etc.
Statement
    A statement never returns a value
    Cannot print any result
    Examples Of Python Statements: 
    Assignment statements, conditional branching, loops, classes, import, def, try, except,  pass, del etc

In [33]:
#its a statement, which will not return any value
spam = 10

In [62]:
#expresesion returns a value
string = "Hello"
print(string)

Hello

In [31]:
"Hello " + "World"

'Hello World'

In [32]:
4+5

9

6. After running the following code, what does the variable bacon contain?
bacon = 22
bacon + 1

In [37]:
bacon = 22
print(bacon)
bacon + 1
print(bacon)

22
22

7. What should the values of the following two terms be?
'spam' + 'spamspam'
'spam' * 3

In [38]:
'spam' + 'spamspam'

'spamspamspam'

In [39]:
'spam' * 3

'spamspamspam'

8. Why is eggs a valid variable name while 100 is invalid?

In [42]:
eggs=100
print(eggs)

100

In [43]:
100= "any value"

SyntaxError: cannot assign to literal (<ipython-input-43-49ac82e518ec>, line 1)

9. What three functions can be used to get the integer, floating-point number, or string version of a value?
Answer:-
    The int() , float() , and str( ) functions will evaluate to the integer, floating-point number, and string versions of the value passed to them.

In [53]:
a=3
type(a)

int

In [52]:
print(a)

3

In [54]:
b=float(a)
type(b)

float

In [55]:
print(b)

3.0

10. Why does this expression cause an error? How can you fix it?
'I have eaten ' + 99 + ' burritos.'

In [44]:
'I have eaten ' + 99 + ' burritos.'

TypeError: can only concatenate str (not "int") to str

In [45]:
'I have eaten ' + '99' + ' burritos.'

'I have eaten 99 burritos.'

In [ ]:
int()